@model IEnumerable<WebAppECartDemo.ViewModel.ShoppingCartModel>
@{
    ViewBag.Title = "ShoppingCart";
    Nullable<decimal> TotalAmount = 0.00M;
}



<h2>ShoppingCart</h2>

@using (Html.BeginForm("AddOrder", "Shopping", FormMethod.Post))
{

    <table class="table table-condensed">
        @foreach (var item in Model)
        {
            TotalAmount += item.Total;
            <tr>
                <td>
                    <img src="@Url.Content(item.ImagePath)" height="30" width="30" class="img-rounded" />
                </td>
                <td>@item.ItemName</td>
                <td>@item.Quantity.ToString("#,##0")</td>
                <td>@item.UnitPrice.ToString()</td>
                <td>@item.Total.ToString()</td>
            </tr>
        }
        <tr>
            <td colspan="4">
                <h3>Total Amount</h3>
            </td>
            <td>
                <h3>@TotalAmount.ToString()</h3>
            </td>
        </tr>
        <tr style="text-align:right">
            <td colspan="5">
                <input type="submit" value="Save" name="Save" class="btn btn-primary" id="SaveOrder" />
            </td>
        </tr>
    </table>

}